.navbar-colors {
    background-color: rgb(32,107,179);
}

.copyright {
    background-color: rgb(32,107,179); 
}

.footer {
    background-color: rgb(102,156,208);
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-light {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hr-divider-light {
    width: 25%;
    border: 3px solid white;
    border-radius: 5px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 25px;
}

.hr-divider-dark {
    width: 25%;
    border: 3px solid;
    border-radius: 5px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 25px;
}

.header-colors{
    background-color: rgb(102,156,208);
    margin-top: 45px;
    padding-top: 100px;
    padding-bottom: 150px;
}

.title-colors{
    background-color: rgb(102,156,208);
    margin-top: 45px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.portfolio {
    padding-top: 200px;
    padding-bottom: 200px;
}

.portfolioCards {
    padding-top: 100px;
	padding-bottom: 100px;
}

.projects-padding {
    padding-top: 150px;
    background-color: rgb(102,156,208);
    padding-bottom: 150px;
}

.projectCards {
    padding-top: 100px;
	padding-bottom: 100px;
}

.card-margin {
	padding: 20px;
}

.card-body {
    background-color: rgb(102,156,208);
}

.whiteCard {
    background-color: white;
}

.card {
    min-height: 20rem;
}

.card-link {
    text-decoration: none;
}

.about-padding {
    padding-top: 150px;
    background-color: rgb(102,156,208);
    padding-bottom: 150px;
}

.contact-padding {
    padding-top: 150px;
    padding-bottom: 150px;
}

.skills-padding {
    padding-top: 150px;
    padding-bottom: 150px;
}

.project-light {
    padding-top: 150px;
    padding-bottom: 150px;
}

.project-dark {
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: rgb(102,156,208);
}

.team {
    list-style-type: none;
}

.pdf-padding {
    padding-top: 30px;
}